body{
    overflow-x: hidden;
}

.single-product {
    position: relative;
    background: #fff;
    max-height: 390px;
    width: 230px;
    margin-bottom: 40px;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 5px;
}
.product-wrapper {
    height: 310px;
    width: 215px;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    background: #fff;
    text-align: center;
}
.product-img {
    width: 215px;
    height: 200px;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    padding: 10px;
}
.product-img img {
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.product-name {
    color: #000;
    font-family: serif;
    font-weight: 300;
    font-size: 15px;
    height: 45px;
}
.product-text {
    color: #423636;
    font-weight: 400;
    margin-top: 1px;
    font-size: 12px;
}
.product-price {
    color: #734c4c;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
}
.overlay {
    position: absolute;
    top: 0;
    background: rgba(40,40,40,.75);
    height: 98%;
    width: 100%;
    cursor: pointer;
    text-align: center;
    border-radius: 2px;
    box-sizing: border-box;
    user-select: none;
    overflow: hidden;
    visibility: hidden;
}
.overlay .inner {
    display: flex;
    flex-direction: column;
    height: 75%;
}
a.product-details {
    background: #dec9cf;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 2px;
    text-decoration: none;
    color: #564747;
    font-weight: bold;
    font-size: 14px;
    height: 25px;
    border: 1px solid #b9a4a4;
    border-top: 0;
    padding-top: 2px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
svg.svg-inline--fa.fa-arrow-circle-right.fa-w-16 {
    font-size: 11px;
}
p.total {
    color: #fff;
    font-size: 20px;
    padding-top: 10px;
}

.add-remove-product {
    height: 85px;
    margin-top: 70px;
    display: flex;
    align-items: center;
    margin: auto;
}
span.product-remove {
    color: #fff;
    font-size: 23px;
    border-radius: 50%;
    border: 2px solid #f9f7b8;
    width: 30px;
    height: 30px;
    line-height: 22px;
    margin-top: 7px;
}
span.product-add {
    color: #fff;
    font-size: 23px;
    border-radius: 50%;
    border: 2px solid #f9f7b8;
    width: 30px;
    height: 30px;
    line-height: 22px;
    margin-top: 7px;
}
.product-wrapper:hover .overlay{
    visibility: visible;
    transition: all 1s;
}
.quantity {
    color: #e6e83e;
    display: inline-block;
    width: 65px;
    height: 60px;
    font-size: 40px;
    margin-right: 2px;
}
.in-bag {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
}
.product-quantity-count {
    background: #d66d8afa;
    height: 40px;
    text-align: center;
    border: 1px solid #d7708c;
    border-radius: 2px;
    width: 215px;
    margin: auto;
}
button.product-minus {
    float: left;
    height: 100%;
    width: 20.33%;
    color: white;
    outline: none;
    border: none;
    background: #d7708c;
    border-right: 1px solid #6f6969;
}
button.product-plus {
    float: right;
    height: 100%;
    width: 20.33%;
    color: white;
    outline: none;
    border: none;
    background: #d7708c;
    border-left: 1px solid #6f6969;
}
.product-quantity-count .quantity-text {
    display: inline-block;
    line-height: 40px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
button.add-to-cart {
    cursor: pointer;
    user-select: none;
    background: 0;
    border: 0;
    outline: 0;
    line-height: 30px;
    color: #fff;
}
.success-add-cart {
    width: 400px;
    position: fixed;
    top: 20px;
    right: -100%;
    text-align: center;
    padding: 10px;
    background: #00ab05;
    z-index: 9999;
    transition: all .5s;
}
.success-add-cart.show {
    right: 0;
    transition: all .5s;
}
.success-add-cart h4 {
    color: #fff;
    font-size: 16px;
}
.cart-list {
    position: fixed;
    right: -115%;
    z-index: 9999;
    top: 0;
    overflow-y: scroll;
    overflow-z: hidden;
    height: 100%;
}
.cart-list.show{
    right: 21px;
    border:1px solid #ddd;
}
.cart-list-wrapper {
   
    width: 260px;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 4px 0px 0px 29px;
    border-bottom: 1px solid #ddd;
}
input.items-quantity {
    width: 55px;
    line-height: 14px;
    margin-top: 10px;
}
input.item-price {
    width: 50px;
    background: 0;
    border: 0;
    outline: 0;
}