/*For Form Validation Css*/
.wrong-input{
    color: red;
    font-weight: bold;
    transition: all 1s;
}

/*Box Animation Css*/
.animateBox{
	height: 100px;
    width: 100px;
    background-color: #5ea58a;
    transition: all 1s;
}
.animateBox.move{
	height: 200px;
	width: 200px;
	background-color: #7765d8;
}


.showhideBox{
	height: 100px;
	width: 100px;
	background-color: #424238;
}

#box2{
	display: none;
}


.popupbox{
	height: 100px;
	width: 100px;
	background-color: #d49219;
}

.popupbox.animatePopup {
  animation-name: movingBox;
  animation-duration: 1200ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes movingBox {

  50% {
    transform: translate(20px);
    opacity: 0.6;
  }

}


/*Shooing Cart Css*/
/*.single-product {
    position: relative;
    background: #fff;
    max-height: 390px;
    margin-bottom: 40px;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 5px;
}*/
.single-product {
    position: relative;
    background: #fff;
    max-height: 390px;
    width: 230px;
    margin-bottom: 40px;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 5px;
}
.product-wrapper {
    height: 310px;
    width: 215px;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    background: #fff;
    text-align: center;
}
.product-img {
    width: 215px;
    height: 200px;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    padding: 10px;
}
.product-img img {
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.product_name {
    color: #000;
    font-family: serif;
    font-weight: 300;
    font-size: 15px;
    height: 45px;
}
.product_text {
    color: #423636;
    font-weight: 400;
    margin-top: 1px;
    font-size: 12px;
}
.product_price {
    color: #734c4c;
    font-weight: bold;
    font-size: 16px;
}
.product_quantity_count {
    background: #d66d8afa;
    height: 40px;
    text-align: center;
}
button.product_minus {
    float: left;
    height: 100%;
    width: 20.33%;
    color: white;
    outline: none;
    border: none;
    background: #d7708c;
    border-right: 1px solid #6f6969;
}
button.product_plus {
    float: right;
    height: 100%;
    width: 20.33%;
    color: white;
    outline: none;
    border: none;
    background: #d7708c;
    border-left: 1px solid #6f6969;
}
.quantity_text {
    display: inline-block;
    line-height: 40px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.product-wrapper:hover,.ovelay{
    opacity: 1;
}
.overlay{
	position: absolute;
	top: 0;
	opacity: 0.8;
	background:black;
	height: 300px;
    width: 215px;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
}
p.total {
    color: #fff;
    font-size: 20px;
    padding-top: 10px;
}

.add_remove_product {
    height: 85px;
    background: ;
    margin-top: 70px;
}

span.product_remove {color: #c32862;font-size: 35px;border: 3px solid #e21285;border-radius: 50%;height: 149px;width: 33px;padding-top: 0;margin-top: 27px;line-height: 19px;padding-left: 1px;}

.quantity {
    display: inline-block;
    margin: 11px;
}